.breadcrumbs{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 30px;
    left: 30px;
}
.breadcrumbsLine{
    width: 160px;
    height: 1px;
    background: #464646;
    margin-right: 30px;
}
.breadcrumbsWrapper{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.greySpread{
    color: #606060;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 800;
}
.currentBlack,
.secondStep,
.goToMainPage,
.currentPage{
    font-size: 14px;
    font-weight: 800;
}
.currentBlack{
    color:black;
}
.secondStep,
.goToMainPage{
    color: #606060;
    cursor: pointer;
    text-decoration: none;
}
.currentPage{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.currentPage,
.spread{
    color: white
}
.spread{
    margin-right: 5px;
    margin-left: 5px;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .breadcrumbs{
        left: 10px;
        width: calc(100% - 10px);
    }
    .secondStep{
        overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
    .currentBlack,
    .secondStep,
    .goToMainPage,
    .currentPage{
        font-size: 10px;
    }
    .breadcrumbsLine{
        width: 40px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .breadcrumbsLine{
        width: 90px
    }
    .breadcrumbs{
        left: 38px;
    }
    .currentBlack,
    .secondStep,
    .goToMainPage,
    .currentPage{
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
    .breadcrumbs{
        left: 100px;
    }
    .breadcrumbsLine{
        width: 100px
    }
}

@media screen and (min-width: 1360px) and (max-width: 1919px){
    .breadcrumbsWrapper{
    }
    .currentBlack,
    .secondStep,
    .goToMainPage,
    .currentPage{
        font-size: 12px;
    }
    .breadcrumbs{
    }
    .breadcrumbsLine{
        width: 110px
    }
}

@media screen and (min-width: 1920px) {
    .breadcrumbsLine{
        width: 160px
    }
}