.gallery {
    position: relative;
}

.gallery .swiper-scrollbar-drag {
    height: 5px;
    cursor: pointer;
    background: #ab9060;
}



.gallery .landing-house-botImage,
.gallery .landing-house-topImage {
    height: 400px;
    width: 390px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.gallery .swiper-container {
    position: unset;
}

.galleryPopup .swiper-scrollbar{
    display: none;
}

.gallery .swiper-slide:first-child{
    width:700px!important
}
.gallery .swiper-slide:nth-child(2){
    width:450px!important
}
.gallery .swiper-slide:nth-child(3){
    width:450px!important
}
.gallery .swiper-slide:nth-child(4){
    width:650px!important
}
.gallery .swiper-slide:nth-child(5){
    width:400px !important
}

.gallery .swiper-container-horizontal > .swiper-scrollbar {
    bottom: -30px;
    width: 85%;
    background: #222222;
}

.gallery .landing-house-botImage {
    position: unset;
}

.gallery .swiper-button-prev:after,
.gallery .swiper-button-next:after {
    content: "";
}

.gallery .swiper-button-next {
    height: 65px;
    width: 36px;
    left: 55px;
    top: 44px;
    z-index: 9999;
    -webkit-tap-highlight-color: rgb(255 255 255 / 0);
    -moz-tap-highlight-color: rgb(255 255 255 / 0);
    -ms-tap-highlight-color: rgb(255 255 255 / 0);
}

.gallery .swiper-button-prev {
    left: 30px;
    top: 20px;
    z-index: 9999;
    height: 65px;
    width: 36px;
    -webkit-tap-highlight-color: rgb(255 255 255 / 0);
    -moz-tap-highlight-color: rgb(255 255 255 / 0);
    -ms-tap-highlight-color: rgb(255 255 255 / 0);
}


@media screen and (width: 320px){
    /* .gallery .swiper-container {
        width: 160%!important;
    } */
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .gallery .swiper-slide:first-child img{
        width:200px;
        height: 150px;
    }
    .gallery .swiper-slide:nth-child(2) img{
        width:100px;
        height: 150px
    }
    .gallery .swiper-slide:nth-child(3) img{
        width:100px;
        height: 150px;
    }
    .gallery .swiper-slide:nth-child(4) img{
        width:150px;
        height: 150px;
    }
    .gallery .swiper-slide:nth-child(5) img{
        width:150px;
        height: 150px;
    }
    .gallery .swiper-slide:nth-child(1){
        width:160px!important
    }
    .gallery .swiper-slide:nth-child(2){
        width:60px!important
    }
    .gallery .swiper-slide:nth-child(3){
        width:60px!important;
    }
    .gallery .swiper-slide:nth-child(4){
        width:110px!important;
    }
    .gallery .swiper-slide:nth-child(5){
        width:150px!important;
    }
    .gallery .swiper-container-horizontal > .swiper-scrollbar {
        width: 95%;
    }
    .gallery .landing-house-botImage,
    .gallery .landing-house-topImage {
        height: 170px;
        width: 140px;
    }
    .gallery .swiper-container {
        height: 170px;
       
    }
    

    .gallery .swiper-slide{
        width:180px!important
    }
    .landing-house-gallery1,
    .landing-house-gallery2,
    .landing-house-gallery3,
    .landing-house-gallery4,
    .landing-house-gallery5 {
        width: 170px;
    height: 120px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
    .gallery .swiper-slide:first-child img{
        width:400px;
        height: 250px;
    }
    .gallery .swiper-slide:nth-child(2) img{
        width:250px;
        height: 250px
    }
    .gallery .swiper-slide:nth-child(3) img{
        width:250px;
        height: 250px;
    }
    .gallery .swiper-slide:nth-child(4) img{
        width:350px;
        height: 250px;
    }
    .gallery .swiper-slide:nth-child(5) img{
        width:250px;
        height: 250px;
    }
    .gallery .swiper-slide:nth-child(1){
        width:400px!important
    }
    .gallery .swiper-slide:nth-child(2){
        width:250px!important
    }
    .gallery .swiper-slide:nth-child(3){
        width:250px!important;
    }
    .gallery .swiper-slide:nth-child(4){
        width:350px!important;
    }
    .gallery .swiper-slide:nth-child(5){
        width:250px!important;
    }
    .gallery .landing-house-botImage,
    .gallery .landing-house-topImage {
        height: 320px;
        width: 230px;
    }
    .landing-house-gallery1,
    .landing-house-gallery2,
    .landing-house-gallery3,
    .landing-house-gallery4,
    .landing-house-gallery5 {
        width:300px;
        height: 200px;
    }
}
@media screen and (min-width: 1023px) {
}
@media screen and (min-width: 1023px) and (max-width: 1360px) {
    
    .gallery .swiper-slide:first-child img{
        width:550px;
        height: 400px;
    }
    .gallery .swiper-slide:nth-child(2) img{
        width:300px;
        height: 400px
    }
    .gallery .swiper-slide:nth-child(3) img{
        width:300px;
        height: 400px;
    }
    .gallery .swiper-slide:nth-child(4) img{
        width:500px;
        height: 400px;
    }
    .gallery .swiper-slide:nth-child(5) img{
        width:400px;
        height: 400px;
    }
    .gallery .swiper-slide:nth-child(1){
        width:550px!important
    }
    .gallery .swiper-slide:nth-child(2){
        width:300px!important
    }
    .gallery .swiper-slide:nth-child(3){
        width:300px!important;
    }
    .gallery .swiper-slide:nth-child(4){
        width:500px!important;
    }
    .gallery .swiper-slide:nth-child(5){
        width:400px!important;
    }
    .gallery .landing-house-botImage,
    .gallery .landing-house-topImage {
        height: 370px;
        width: 280px;
    }
    .gallery .swiper-container-horizontal > .swiper-scrollbar {
        width: 90%;
    }
    .landing-house-gallery1,
    .landing-house-gallery2,
    .landing-house-gallery3,
    .landing-house-gallery4,
    .landing-house-gallery5 {
        width:400px;
        height: 300px;
    }
}
@media screen and (min-width: 1360px) and (max-width: 1919px) {
    .gallery .landing-house-topImage {
        height: 500px;
    }
}

@media screen and (max-width: 1024px) {
    .gallery .swiper-button-prev,
    .gallery .swiper-button-next {
        display: none;
    }
    .landing-gallery-nav {
        display: none;
    }
}

@media screen and (width: 1440px) {
    .gallery .swiper-button-prev,
    .gallery .swiper-button-next {
        height: 70px;
        width: 40px;
    }
    .gallery .swiper-button-prev {
        left: 22px;
        top: 42px;
    }
    .gallery .swiper-button-next {
        left: 56px;
        top: 42px;
    }
}

@media screen and (min-width: 1920px) {
    .gallery .swiper-slide:first-child img{
        width:900px;
        height: 800px;
    }
    .gallery .swiper-slide:nth-child(2) img{
        width:550px;
        height: 800px
    }
    .gallery .swiper-slide:nth-child(3) img{
        width:650px;
        height: 800px;
    }
    .gallery .swiper-slide:nth-child(4) img{
        width:850px;
        height: 800px;
    }
    .gallery .swiper-slide:nth-child(5) img{
        width:750px;
        height: 800px;
    }
    .gallery .swiper-slide:nth-child(1){
        width:900px!important
    }
    .gallery .swiper-slide:nth-child(2){
        width:550px!important
    }
    .gallery .swiper-slide:nth-child(3){
        width:650px!important;
    }
    .gallery .swiper-slide:nth-child(4){
        width:850px!important;
    }
    .gallery .swiper-slide:nth-child(5){
        width:750px!important;
    }
    .landing-house-gallery1,
    .landing-house-gallery2,
    .landing-house-gallery3,
    .landing-house-gallery4,
    .landing-house-gallery5 {
        width:800px;
        height: 570px;
    }
    .gallery .landing-house-topImage {
        height: 700px;
        width: 549px;
    }
    .gallery .swiper-container-horizontal > .swiper-scrollbar {
        width: 88%;
    }
    .gallery .swiper-button-prev,
    .gallery .swiper-button-next {
        height: 100px;
        width: 60px;
    }
    .gallery .swiper-button-prev {
        left: 22px;
        top: 47px;
    }
    .gallery .swiper-button-next {
        left: 69px;
        top: 47px;
    }
}