.otherSlider .swiper-slide{
    margin-left: 120px;
    width: 335px!important;
}

.otherSlider .slider{
    width: 8px;
}

.otherSlider{
    width: 800px;
    height: 580px;
    position: relative;
}

.otherSlider .swiper-button-prev, 
.otherSlider .swiper-button-next{
    width: 92px;
    height: 60px;
    background: #ab9060;
    color: white;
    font-size: 35px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    bottom: 87px;
    left: -110px;
    cursor: pointer;
    top: unset;
}
.otherSlider .swiper-button-next:active{
    outline: none
}

.otherSlider .swiper-button-next::after, .otherSlider .swiper-button-prev::after{
    transform: scale(0.5);
}

.otherSlider .swiper-button-prev{
    bottom: 27px;
}

.otherSlider .swiper-slide{
    margin-right: 90px!important;
}

.otherSlider .swiper-container{
    position: unset;
    height: 100%;
}

@media screen and (min-width: 590px) and (max-width: 759px) {
    .otherSlider{
        width: 437px;
    }
    
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
    .otherSlider .swiper-slide:nth-child(4n){
        opacity: 0;
    }
    .otherSlider{
        width: 614px;
    }
}


@media screen and (min-width: 600px) and (max-width: 1440px) {
    .otherSlider{
        height:460px
    }
}
@media screen and (min-width: 1920px){
    .otherSlider .swiper-slide{
        margin-right: 160px!important;
        margin-left: 90px;
    }
    .otherSlider{
        width:1160px
    }
    
}