.parking{
    padding: 120px 192px 10px 212px;
    background: #1c1c1c;
    position: relative;
    .desktopText{
        display: flex;
        margin-left: 5px;
        margin-right: 5px;
    }
    .chooseHide{
        display: block;
    }
    .parkingPopup{
        z-index: 9999999999;
        left:0;
        top: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        background:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .popupHeader{
        width: 100%;
        height:100px;
        display: flex;
        justify-content:flex-end;
    }
    .closeIcon{
        background-image: url(../../Images/menuCross.svg);
        background-repeat: no-repeat;
        height: 24px;
        width: 24px;
    }
    .headerClose{
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
        cursor: pointer;
    }
    .popupImage{
        background-image: url(../../Images/newsFirstLanding.jpg);
        width: 400px;
        height: 400px;
        background-size: cover;
    }
    .parkingHead{
        display: flex;
        width: 100%;
        align-items:center;
        justify-content: space-between
    }
    .parkingSort{
        display: flex;
        width: 210px;
        justify-content: space-between;
        position: relative;
    }
    .sortingPopup{
        position: absolute;
        top: 20px;
        right: 0px;
        height:100px;
        background: #1c1c1c;
        box-shadow: 0px 4px 60px rgba(0,0,0,0.6);
        z-index: 9999;
        display: flex;
        flex-direction: column
    }
    .popupItem{
        // width: 100%;
        height: 50px;
        cursor: pointer;
        padding: 0px 15px;
        font-size: 14px;
        line-height:50px;
        text-align: center;
        color: white;
        &:hover{
            background: #ab9060;
        }
    }
    .parkingTitle{
        font-size: 45px;
        color: white;
        margin-bottom:80px
    }
    .chooseArrow{
        background-image: url(../../Images/galleryArrowLanding.svg);
        height: 14px;
        width: 22px;
        margin-left: 15px;
    }
    .sortTitle,
    .sortValue{
        font-size: 14px;
        color: white;
    }
    .sortValue{
        color: #AB9060;
        cursor: pointer;
    }
    .parkingMain{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 130px;
    }
    .mainItem{
        font-size: 28px;
        cursor: pointer;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 100%;
        height: 95px;
        border-top: solid 1px #464646;
        border-bottom: solid 1px #464646;
    }
    .itemType{
        width: 19%;
        height: 100%;
        text-align: left;
        line-height:96px;
        display: flex;
        align-items:center;
        justify-content: space-between
    }
    .itemSquer{
        width:26%;
        height: 100%;
        text-align:center;
        line-height:96px
    }
    .itemPrice{
        width:45%;
        height: 100%;
        text-align: left;
        line-height:96px
    }
    .itemChoose{
        font-size: 24px;
        display: flex;
        width:15%;
        align-items: center;
        cursor: pointer;
        height: 100%;
        text-align: right;
        line-height:96px
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .parking{
        padding: 80px 10px 10px 10px;
        .chooseHide{
            display: none;
        }
        .parkingTitle{
            font-size: 25px;
            margin-bottom:30px
        }
        .mainItem{
            font-size: 16px;
        }
        .desktopText{
            display: none;
        }
        .parkingHead{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom:30px
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .parking{
        padding: 120px 40px 10px 40px;
        .desktopText{
            display: none;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
    .parking{
        padding: 120px 100px 10px 100px;
        .mainItem{
            font-size: 24px;
        }
        .itemChoose{
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 1360px) and (max-width: 1919px){
    .parking{
        padding: 120px 152px 10px 172px;
    }
}

@media screen and (min-width: 1920px) {
    .parking{
        .itemType{
            width: 14px
        }
    }
}