.slider {
    width: 680px;
}

.slider .landing-house-botImage{
    bottom: unset;
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slider .landing-house-botImage{
    width:100%
}

.slider .swiper-container{
    position: unset
}

.slider .swiper-button-prev,
.slider .swiper-button-next{
    width: 92px;
    height: 60px;
    background: #ab9060;
    color: white;
    font-size: 35px;
    text-align: center;
    line-height: 60px;
    position: absolute;
    bottom:60px; 
    left:0;
    cursor: pointer;
    outline: none
}

.slider .swiper-button-prev{
    bottom: 0px
}

.slider .swiper-button-prev, 
.slider .swiper-button-next{
    top: unset;
}

.slider .swiper-button-next::after,
.slider .swiper-button-prev::after {
    transform: scale(0.5);
}



@media screen and (min-width: 320px) and (max-width: 600px){
    .slider .swiper-button-prev, .slider .swiper-button-next{
        width:72px;
        height: 44px;
    }
    .slider .swiper-button-next{
        bottom: 84px;
        left: -85px;
    }
    .slider .swiper-button-prev{
        left: -85px;
        bottom: 40px
    }

}

@media screen and (min-width: 760px) and (max-width: 1023px) {
    .slider{
        width: 480px;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1360px) {
    .slider {
        width: 480px;
    }
    .slider .landing-house-topImage{
        width:530px
    }
    
}
@media screen and (min-width: 1920px) {
    
}