.App{
  position: relative;
}

.vertical-line{
  position: fixed;
  bottom:0px; 
  top: 0px; 
  border-left: solid 1px #292929;
  height: 100%;
  width: calc(100% / 5);
}

body{
  font-family: Gilroy
}

a{
  text-decoration: none;
}