.App{
  position: relative;
}

.vertical-line{
  position: fixed;
  bottom:0px; 
  top: 0px; 
  border-left: solid 1px #292929;
  height: 100%;
  width: calc(100% / 5);
}

body{
  font-family: Gilroy;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0);
  -moz-tap-highlight-color: rgb(255 255 255 / 0);
  -ms-tap-highlight-color: rgb(255 255 255 / 0);
}
body input, textarea{
  outline: none
}

a{
  text-decoration: none;
}