.App{
  position: relative;
}

.vertical-line{
  position: fixed;
  bottom:0px; 
  top: 0px; 
  border-left: solid 1px #292929;
  height: 100%;
  width: calc(100% / 5);
}

.vertical-line:first-child{
  left: 172px
}

.vertical-line:second-child{
  
}